<link rel="stylesheet" href="css/users/header.css" />

<header>
  <div class="logo">
    <a href="#">
      <img src="images/logo.png" alt="logo" />
    </a>
  </div>

  <nav>
    <ul>
      <li><a href="#">Trang Chủ</a></li>
      <li><a href="#">Giới Thiệu</a></li>
      <li><a href="#">Món Ngon</a></li>
      <li><a href="#">Liên Hệ</a></li>
    </ul>
  </nav>

  <a href="#" class="login-btn">Đăng Nhập</a>
</header>
