<link rel="stylesheet" href="css/admins/navigation.css" />

<div class="navigation">
  <ul>
    <li>
      <a href="/admin">Trang chủ</a>
    </li>
    <li>
      <a href="/admin/categories">Quản lý danh mục</a>
    </li>
    <li>
      <a href="/admin/dishes">Quản lý món ăn</a>
    </li>
    <li>
      <a href="/admin/users">Quản lý tài khoản người dùng</a>
    </li>
  </ul>
</div>

<script src="js/admins/menuActive.js"></script>
